@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Quicksand:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  min-height: calc(100vh -52px -442px); }

.btn {
  margin: .4em;
  padding: .2em .8em;
  border: solid 2px #e4e4e4;
  border-radius: 5px;
  background: linear-gradient(7deg, #ff14b3 0%, #bd4cb3 100%);
  box-shadow: rgba(0, 0, 0, 0.809) 2px 2px 4px;
  text-align: center;
  display: inline-block;
  transition: 1s;
  font-family: 'Comfortaa',  sans-serif, sans-serif;
  font-size: .68em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
  color: #FDFFFC;
  text-decoration: none;
  font-weight: bolder; }
  .btn:hover {
    background: #F7B900;
    color: #FDFFFC;
    transition: 1s; }
  @media (min-width: 768px) {
    .btn {
      font-size: 1em; } }
  @media (min-width: 1024px) {
    .btn {
      font-size: 1.5em; } }
  .btn--minor {
    background: linear-gradient(180deg, rgba(153, 153, 153, 0.5) 0%, rgba(38, 38, 38, 0.7) 50%, rgba(189, 189, 189, 0.5) 100%);
    color: #FDFFFC;
    border: solid 2px #e4e4e4;
    font-weight: bolder; }

@keyframes blinks {
  0% {
    background: #e1ab22; }
  10% {
    background: none; }
  12% {
    background: #e1ab22; }
  40% {
    background: none; }
  42% {
    background: #ffc227; }
  60% {
    background: #eeb524; }
  70% {
    background: #ffc83d; }
  80% {
    background: #f8cb57; }
  100% {
    background: #fce5a9; } }

@keyframes beep {
  0% {
    padding: 1em; }
  25% {
    padding: 1.2em; }
  50% {
    padding: 1em; }
  75% {
    padding: .8em; }
  100% {
    padding: 1em; } }

@keyframes slap {
  0% {
    transform: rotate(0deg); }
  40% {
    transform: rotate(180deg); }
  60% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes spingx {
  from {
    transform: rotateX(0deg); }
  to {
    transform: rotateX(360deg); } }

@keyframes spingy {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

@keyframes floating {
  from {
    border-radius: 200px 5px 200px 5px;
    box-shadow: 15px 10px #a973ff95; }
  to {
    border-radius: 5px 200px 5px 200px;
    box-shadow: -15px -10px #a973ffaa; } }

@keyframes bkgmovelr {
  0% {
    background-position: left; }
  50% {
    background-position: right; }
  100% {
    background-position: left; } }

@keyframes bkgopacity {
  0% {
    opacity: 1; }
  50% {
    opacity: .8; }
  100% {
    opacity: 1; } }

@keyframes carousel {
  0% {
    margin-left: 0px; }
  6% {
    margin-left: 0px; }
  13% {
    margin-left: -400px; }
  19% {
    margin-left: -400px; }
  26% {
    margin-left: -800px; }
  32% {
    margin-left: -800px; }
  39% {
    margin-left: -1200px; }
  45% {
    margin-left: -1200px; }
  52% {
    margin-left: -1600px; }
  58% {
    margin-left: -1600px; }
  65% {
    margin-left: -2000px; }
  73% {
    margin-left: -2000px; }
  80% {
    margin-left: -2400px; }
  87% {
    margin-left: -2400px; }
  96% {
    margin-left: -2800px; }
  100% {
    margin-left: -2800px; } }

@media (min-width: 768px) {
  @keyframes carousel {
    0% {
      margin-left: 300px; }
    6% {
      margin-left: 300px; }
    13% {
      margin-left: 58px; }
    19% {
      margin-left: 58px; }
    26% {
      margin-left: -184px; }
    32% {
      margin-left: -184px; }
    39% {
      margin-left: -426px; }
    45% {
      margin-left: -426px; }
    52% {
      margin-left: -668px; }
    58% {
      margin-left: -668px; }
    65% {
      margin-left: -910px; }
    73% {
      margin-left: -910px; }
    80% {
      margin-left: -1152px; }
    87% {
      margin-left: -1152px; }
    96% {
      margin-left: -1394px; }
    100% {
      margin-left: -1394px; } } }

header {
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(145deg, #e26198 0%, #e07e69 50%, #e2616c 100%); }
  @media (min-width: 768px) {
    header {
      height: 75px;
      flex-flow: row-reverse; } }

.menu {
  margin-top: 25em;
  text-align: center;
  display: flex;
  flex-flow: column; }
  @media (min-width: 768px) {
    .menu {
      margin-top: 0em;
      display: flex;
      flex-flow: row;
      width: 75%; } }
  .menu__input {
    display: none; }
  .menu__label {
    font-size: 2em;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .menu__label {
        display: none; } }
  .menu__nav {
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 1s; }
    @media (min-width: 768px) {
      .menu__nav {
        visibility: visible;
        opacity: 1; } }
  .menu__input:checked ~ .menu__nav {
    visibility: visible;
    opacity: 1;
    z-index: 9; }
  .menu__ul {
    list-style: none;
    text-align: center;
    background-color: linear-gradient(145deg, #e26198 0%, #e07e69 50%, #e2616c 100%);
    margin-top: .2em; }
    @media (min-width: 768px) {
      .menu__ul {
        margin-top: 0em; } }
  .menu__li {
    padding: 1.5em;
    background: #F7B900; }
    @media (min-width: 768px) {
      .menu__li {
        border-radius: 100px 100px 100px 100px;
        background-color: initial;
        display: inline;
        padding-left: 1em; }
        .menu__li:hover {
          transition: 1s ease-in-out;
          animation: blinks 3s alternate ease-in-out infinite; } }
  .menu__a {
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Quicksand',  sans-serif; }
    @media (min-width: 768px) {
      .menu__a {
        font-size: 1em;
        color: #FDFFFC; } }

.logo {
  padding-left: 1em;
  text-decoration: none;
  font-family: 'Quicksand',  sans-serif;
  font-size: 1.25em;
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .logo {
      padding-right: 1em;
      font-size: 1em; }
      .logo:hover {
        animation: beep .2s infinite; } }
  .logo__i {
    font-size: 1em;
    color: #ffc928; }
  @media (min-width: 768px) {
    .logo {
      font-size: 1.5em; } }

footer {
  margin-top: 100px;
  height: 742px;
  padding-top: 2em;
  background: linear-gradient(145deg, #e26198 0%, #e07e69 50%, #e2616c 100%);
  display: grid;
  grid-auto-columns: 1fr;
  align-items: center; }
  @media (min-width: 768px) {
    footer {
      height: 642px;
      display: grid;
      grid-template-columns: [x0] 2fr [x1] 1fr [x2] 2fr [x3];
      grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
      align-items: flex-start; } }

.sitemap {
  text-align: center;
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .sitemap {
      grid-column: x0 / x1;
      grid-row: y0 / y2; } }
  .sitemap__title {
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .sitemap__title {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .sitemap__title {
        font-size: 3em; } }
  .sitemap__li {
    padding: .3em; }
    .sitemap__li :hover {
      color: #F7B900; }
  .sitemap__links {
    text-decoration: none;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
    color: #FDFFFC;
    text-align: center; }
    @media (min-width: 768px) {
      .sitemap__links {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .sitemap__links {
        font-size: 1.6em; } }

.address {
  height: 16em; }
  @media (min-width: 768px) {
    .address {
      height: 20em;
      margin-top: 1.5em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      grid-column: x2 / x3;
      grid-row: y1 / y2; } }
  .address__ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    list-style: none; }
  .address__li {
    text-decoration: none;
    margin: 1em; }
  .address__title {
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748);
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .address__title {
        font-size: 1.3em; } }
    @media (min-width: 1024px) {
      .address__title {
        font-size: 1.8em; } }
  .address__subtitle {
    width: fit-content;
    text-decoration: none;
    border-bottom: 0.1em solid #F7B900;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .address__subtitle {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .address__subtitle {
        font-size: 1.6em; } }
  .address__par {
    text-align: center;
    font-family: 'Comfortaa',  sans-serif;
    font-size: .8em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .address__par {
        font-size: 1.1em; } }
    @media (min-width: 1024px) {
      .address__par {
        font-size: 1.5em; } }

.newsletter {
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 768px) {
    .newsletter {
      grid-column: x2 / x3;
      grid-row: y0 / y1; } }
  .newsletter__label {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
    color: #FDFFFC;
    padding-bottom: .5em; }
    @media (min-width: 768px) {
      .newsletter__label {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .newsletter__label {
        font-size: 3em; } }
  .newsletter__input {
    border: 2px solid #e4e4e4;
    width: 50vw;
    text-align: center;
    color: #020100;
    font-family: 'Comfortaa',  sans-serif; }
    @media (min-width: 768px) {
      .newsletter__input {
        width: 20vw; } }
    .newsletter__input::placeholder {
      font-size: .8em; }
      @media (min-width: 1024px) {
        .newsletter__input::placeholder {
          font-size: 1.2em; } }
  .newsletter__btn {
    width: 50vw;
    border: 2px solid #e4e4e4;
    background-color: #4635b9;
    color: #FDFFFC;
    font-family: 'Comfortaa',  sans-serif; }
    @media (min-width: 768px) {
      .newsletter__btn {
        width: 20vw; } }
    .newsletter__btn:hover {
      background-color: #F7B900; }

.social {
  font-size: 3em; }
  @media (min-width: 768px) {
    .social {
      grid-column: x1 / x2;
      grid-row: y0 / y2; } }
  .social__ul {
    list-style: none;
    display: flex;
    justify-content: center; }
    @media (min-width: 768px) {
      .social__ul {
        padding-top: .1em;
        display: flex;
        flex-flow: column;
        align-items: center; } }
  .social__li:hover {
    animation: spingx 1s infinite ease-in-out; }
  .social__icon {
    text-decoration: none;
    padding: .3em;
    color: #4635b9; }
    @media (min-width: 768px) {
      .social__icon {
        font-size: 1em; }
        .social__icon :hover {
          color: #F7B900; } }

.copyright {
  text-align: center;
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .copyright {
      grid-column: x0/x3;
      margin-top: 2.5em; } }
  .copyright__text {
    font-family: 'Comfortaa',  sans-serif, sans-serif;
    font-size: .6em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) 2px 2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .copyright__text {
        font-size: .8em; } }
    @media (min-width: 1024px) {
      .copyright__text {
        font-size: 1.1em; } }

.hero {
  min-height: 85vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .hero {
      align-items: flex-start; } }
  .hero--index, .market, .quarter__charge {
    background-image: url("../media/idx/wall-idx.jpg"); }
  .hero--contact {
    background-image: url("../media/cont/wall-hero-cnt.png"); }
  .hero--barber {
    background-image: url("../media/barber/wall-hero-barber.jpg"); }
  .hero--kinder {
    background-image: url("../media/kinder/wall-hero-kinder.jpg"); }
  .hero--products {
    background-image: url("../media/prdts/wall-hero-shop.jpg"); }
  .hero--index, .market, .quarter__charge, .hero--contact, .hero--kinder, .hero--barber, .hero--products {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .hero__container {
    margin-left: .5em;
    width: 60vw;
    max-width: 320px;
    min-height: 40vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 768px) {
      .hero__container {
        padding-left: 2em;
        align-items: flex-start; } }
  .hero__title {
    padding-bottom: .8em;
    padding-left: .3em;
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.809) 2px -2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .hero__title {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .hero__title {
        font-size: 3em; } }
  .hero__text {
    padding-bottom: .8em;
    padding-left: .5em;
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.809) -2px 2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .hero__text {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .hero__text {
        font-size: 1.6em; } }
  @media (min-width: 768px) {
    .hero__title, .hero__text {
      text-align: left; } }

.market {
  margin: 0%;
  margin-top: 100px;
  width: 100%;
  height: 40vh;
  background-image: url(../media/idx/bann-mkt.jpg); }
  .market__container {
    background: linear-gradient(180deg, rgba(73, 73, 73, 0.4) 0%, rgba(243, 245, 255, 0) 25%, rgba(243, 245, 255, 0) 80%, rgba(73, 73, 73, 0.4) 100%);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; }
  .market__text {
    display: flex;
    flex-flow: column;
    align-items: center; }
  .market__caption {
    padding: .6em 0;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
    color: #FDFFFC;
    font-weight: bolder; }
    @media (min-width: 768px) {
      .market__caption {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .market__caption {
        font-size: 3em; } }
  .market__tale {
    padding: .6em 0;
    font-family: 'Comfortaa',  sans-serif;
    font-size: .8em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
    color: #FDFFFC;
    font-weight: bolder; }
    @media (min-width: 768px) {
      .market__tale {
        font-size: 1.1em; } }
    @media (min-width: 1024px) {
      .market__tale {
        font-size: 1.5em; } }

.services {
  width: 90vw;
  height: 1176px;
  margin: 5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center; }
  @media (min-width: 768px) {
    .services {
      flex-direction: row-reverse;
      height: 650px; } }
  @media (min-width: 768px) {
    .services__container {
      display: flex;
      justify-content: space-around;
      align-items: center; } }
  .services__barber {
    background-image: url(../media/idx/bann-barber.jpg);
    background-position: left;
    border-image-source: linear-gradient(to left, #b69812, #ffc400); }
    @media (min-width: 768px) {
      .services__barber:hover {
        transform: rotate(10deg);
        transition: 1s;
        background-position: right;
        box-shadow: 12px 8px 16px 0 rgba(0, 0, 0, 0.809); } }
  .services__kinder {
    background-image: url(../media/idx/bann-kinder.jpg);
    background-position: right;
    border-image-source: linear-gradient(to left, #5f12b6, #ff0381); }
    @media (min-width: 768px) {
      .services__kinder:hover {
        transform: rotate(-10deg);
        transition: 1s;
        background-position: left;
        box-shadow: -12px 8px 16px 0 rgba(0, 0, 0, 0.809); } }
  .services__barber, .services__kinder {
    width: 90vw;
    height: 542px;
    max-width: 425px;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5vw;
    border-image-slice: 1;
    border-width: 5px;
    transition: 1s;
    border-style: ridge;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center; }
    @media (min-width: 768px) {
      .services__barber, .services__kinder {
        margin: 10vw 5vw;
        min-width: 300px;
        min-height: 500px;
        min-height: 50vh;
        max-width: 35vw; } }
  .services__title {
    padding: .6em 0;
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.809) 2px -2px 2px;
    color: #d8ad02; }
    @media (min-width: 768px) {
      .services__title {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .services__title {
        font-size: 3em; } }
  .services__subtitle {
    padding: .6em 0;
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    text-shadow: rgba(0, 0, 0, 0.809) -2px 2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .services__subtitle {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .services__subtitle {
        font-size: 1.6em; } }

.split {
  margin: 30px 5vw;
  width: 90vw;
  height: 750px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .split {
      margin: 30px 0vw;
      width: 100vw;
      flex-flow: row;
      height: 400px; } }
  .split__image {
    width: 300px;
    height: 300px; }
    .split__image--nerd {
      background-image: url("../media/idx/faq.jpg");
      box-shadow: -8px 4px 6px rgba(128, 128, 128, 0.748); }
      .split__image--nerd:hover {
        animation: spingy 1s ease-out 150ms forwards; }
    .split__image--dealer {
      background-image: url("../media/idx/contacto.jpg");
      box-shadow: -8px 4px 6px rgba(128, 128, 128, 0.748); }
      @media (min-width: 768px) {
        .split__image--dealer {
          box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748); } }
      .split__image--dealer:hover {
        animation: spingx .5s ease-out 150ms backwards; }
    .split__image--nerd, .split__image--dealer {
      background-attachment: local;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border: solid white 15px; }
    @media (min-width: 768px) {
      .split__image {
        width: 234px;
        height: 234px; } }
    @media (min-width: 1024px) {
      .split__image {
        width: 312px;
        height: 312px; } }
  .split__text {
    width: 300px;
    height: 30vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(145deg, #7f68bf 0%, #4e9aa2 50%, #6691be 100%); }
    @media (min-width: 768px) {
      .split__text {
        height: 234px; } }
    @media (min-width: 1024px) {
      .split__text {
        width: 400px;
        height: 300px; } }
  .split__title {
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .split__title {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .split__title {
        font-size: 3em; } }
  .split__par {
    text-align: center;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
    color: #FDFFFC; }
    @media (min-width: 768px) {
      .split__par {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .split__par {
        font-size: 1.6em; } }

.secondary {
  margin-top: 100px;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center; }

.third {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .third--contact {
      flex-flow: wrap; } }

.quarter {
  margin-top: 100px;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.secondary__container--order {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: .6em;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748);
  background-image: url("../media/charge-turn.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: bkgmovelr 10s infinite ease-in-out; }
  @media (min-width: 425px) {
    .secondary__container--order {
      width: 200px;
      height: 450px; } }
  @media (min-width: 768px) {
    .secondary__container--order {
      width: 250px;
      height: 550px; } }
  @media (min-width: 1024px) {
    .secondary__container--order {
      width: 350px;
      height: 650px; } }

.secondary__container--keeper {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: .6em;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748);
  background-image: url("../media/kinder/secondary-couch.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end; }
  @media (min-width: 425px) {
    .secondary__container--keeper {
      width: 200px;
      height: 450px; } }
  @media (min-width: 768px) {
    .secondary__container--keeper {
      width: 250px;
      height: 550px; } }
  @media (min-width: 1024px) {
    .secondary__container--keeper {
      width: 350px;
      height: 650px; } }

.secondary__container--haircut {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: .6em;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748);
  background-image: url("../media/barber/secondary-staff-barber.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end; }
  @media (min-width: 425px) {
    .secondary__container--haircut {
      width: 200px;
      height: 450px; } }
  @media (min-width: 768px) {
    .secondary__container--haircut {
      width: 250px;
      height: 550px; } }
  @media (min-width: 1024px) {
    .secondary__container--haircut {
      width: 350px;
      height: 650px; } }

.secondary__container--map {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: .6em;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748);
  background-image: none;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  border: solid 5px #e4e4e4; }
  @media (min-width: 425px) {
    .secondary__container--map {
      width: 200px;
      height: 450px; } }
  @media (min-width: 768px) {
    .secondary__container--map {
      width: 250px;
      height: 550px; } }
  @media (min-width: 1024px) {
    .secondary__container--map {
      width: 350px;
      height: 650px; } }

.secondary__charge {
  width: 100%;
  height: 100%;
  border-radius: .6em;
  background: linear-gradient(63deg, #b85151 0%, #b85186 100%);
  animation: bkgopacity 5s infinite ease-in-out;
  border: solid 5px #e4e4e4; }

.secondary__framing {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.secondary__list {
  list-style: none;
  font-family: 'Comfortaa',  sans-serif;
  font-size: .8em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC;
  font-weight: lighter;
  text-align: left; }
  @media (min-width: 768px) {
    .secondary__list {
      font-size: 1.1em; } }
  @media (min-width: 1024px) {
    .secondary__list {
      font-size: 1.5em; } }

.secondary__item {
  padding: .5em; }

.secondary__staff {
  width: 100%;
  height: 50%;
  border-radius: .6em;
  animation: bkgopacity 5s infinite ease-in-out;
  border-top: solid 5px #e4e4e4; }
  .secondary__staff--trainer {
    background: linear-gradient(231deg, #8c5897 0%, #58978a 100%); }
  .secondary__staff--groomer {
    background: linear-gradient(319deg, #71478c 0%, #f4006b 100%); }

.secondary__ubication, .third__ubication {
  width: 200px;
  height: fit-content;
  position: absolute;
  background: linear-gradient(180deg, #a66f00 0%, #f4a300 100%);
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
  border-bottom-left-radius: 5em;
  border-left: solid 5px #e4e4e4;
  border-right: solid 5px #e4e4e4;
  border-bottom: solid 5px #e4e4e4;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748);
  animation: bkgopacity infinite 5s; }
  @media (min-width: 425px) {
    .secondary__ubication, .third__ubication {
      width: 200px; } }
  @media (min-width: 768px) {
    .secondary__ubication, .third__ubication {
      width: 250px; } }
  @media (min-width: 1024px) {
    .secondary__ubication, .third__ubication {
      width: 350px; } }

.secondary__gps, .third__gps {
  width: 100%;
  height: 100%;
  border-radius: .6em; }

.secondary__title, .third__title {
  font-family: 'Quicksand',  sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
  color: #FDFFFC;
  font-size: 1.3em;
  text-align: center;
  padding-bottom: 1em; }
  @media (min-width: 768px) {
    .secondary__title, .third__title {
      font-size: 2.2em; } }
  @media (min-width: 1024px) {
    .secondary__title, .third__title {
      font-size: 3em; } }
  @media (min-width: 1024px) {
    .secondary__title, .third__title {
      font-size: 2em; } }

.secondary__text, .third__text {
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC;
  text-align: center;
  padding-bottom: .8em; }
  @media (min-width: 768px) {
    .secondary__text, .third__text {
      font-size: 1.2em; } }
  @media (min-width: 1024px) {
    .secondary__text, .third__text {
      font-size: 1.6em; } }

.third__container--map {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: .6em;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748);
  background-image: none;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-start;
  border: solid 5px #e4e4e4; }
  @media (min-width: 425px) {
    .third__container--map {
      width: 200px;
      height: 450px; } }
  @media (min-width: 768px) {
    .third__container--map {
      width: 250px;
      height: 550px; } }
  @media (min-width: 1024px) {
    .third__container--map {
      width: 350px;
      height: 650px; } }

.quarter__charge {
  justify-content: center;
  align-items: center;
  max-height: 45vh;
  background-image: url("../media/charge-turn.jpg"); }

.quarter__structure {
  width: 100%;
  height: 100%;
  background: linear-gradient(94deg, rgba(83, 95, 182, 0.5) 0%, rgba(1, 158, 166, 0.7) 50%, #015994 100%); }

.quarter__caption {
  padding: .2em;
  text-align: center;
  font-family: 'Quicksand',  sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .quarter__caption {
      font-size: 2.2em; } }
  @media (min-width: 1024px) {
    .quarter__caption {
      font-size: 3em; } }

.quarter__tale {
  padding: .2em;
  text-align: center;
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748);
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .quarter__tale {
      font-size: 1.3em; } }
  @media (min-width: 1024px) {
    .quarter__tale {
      font-size: 1.8em; } }
  @media (min-width: 1024px) {
    .quarter__tale {
      font-size: 1.3em; } }

.quarter__ol {
  list-style: none; }

.quarter__steps {
  padding: .2em;
  text-align: center;
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .quarter__steps {
      font-size: 1.2em; } }
  @media (min-width: 1024px) {
    .quarter__steps {
      font-size: 1.6em; } }
  @media (min-width: 1024px) {
    .quarter__steps {
      font-size: 1.2em; } }

.third__slider, .quarter__charge {
  width: 200px;
  height: 400px;
  margin: 10px;
  display: flex;
  border-radius: .6em;
  overflow: hidden;
  border: solid 5px #e4e4e4;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748); }
  @media (min-width: 425px) {
    .third__slider, .quarter__charge {
      width: 200px;
      height: 450px; } }
  @media (min-width: 768px) {
    .third__slider, .quarter__charge {
      display: flex;
      flex-flow: row;
      width: 542px;
      height: 250px; } }

.third__framing {
  width: 100%;
  height: 100%;
  background: linear-gradient(61deg, #cc257c 0%, #25ccb7 100%);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .third__framing {
      display: flex;
      flex-flow: row;
      justify-content: initial;
      align-items: initial; } }

.third__message {
  z-index: 1;
  width: 100%;
  min-height: 200px;
  padding: .5em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  border-bottom: solid 5px #e4e4e4;
  box-shadow: -2px 4px 6px rgba(128, 128, 128, 0.748); }
  @media (min-width: 768px) {
    .third__message {
      position: absolute;
      background: linear-gradient(61deg, #cc257c 0%, #25ccb7 100%);
      width: 300px;
      height: 240px;
      border-bottom: none;
      border-right: solid 5px #e4e4e4;
      box-shadow: none; } }

.third__title {
  font-family: 'Quicksand',  sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
  color: #FDFFFC;
  font-size: 1.1em;
  text-align: center;
  padding-bottom: 0.5em;
  padding-bottom: 1em; }
  @media (min-width: 768px) {
    .third__title {
      font-size: 2.2em; } }
  @media (min-width: 1024px) {
    .third__title {
      font-size: 3em; } }
  @media (min-width: 768px) {
    .third__title {
      font-size: 1.7em; } }
  @media (min-width: 1024px) {
    .third__title {
      font-size: 1.8em; } }

.third__par, .third__subtitle {
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC;
  text-align: center;
  padding-bottom: .8em; }
  @media (min-width: 768px) {
    .third__par, .third__subtitle {
      font-size: 1.2em; } }
  @media (min-width: 1024px) {
    .third__par, .third__subtitle {
      font-size: 1.6em; } }
  @media (min-width: 1024px) {
    .third__par, .third__subtitle {
      font-size: 1.4em; } }

.third__pics {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: row;
  animation: carousel 10s infinite linear alternate; }
  @media (min-width: 768px) {
    .third__pics {
      width: 242px;
      height: 250px; } }

.third__img {
  width: 200px;
  height: 200px; }
  @media (min-width: 768px) {
    .third__img {
      width: 242px;
      height: 250px; } }

.third__form {
  margin: 20px;
  width: 90vw;
  min-height: 130vh;
  border-radius: .6em;
  border: solid 5px #e4e4e4;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 768px) {
    .third__form {
      background-attachment: local;
      max-width: 542px;
      height: 642px; } }
  .third__form--barber {
    background-image: url("../media/barber/form-bkg-barber.jpg"); }
  .third__form--kinder {
    background-image: url("../media/kinder/form-bkg-kinder.jpg"); }
  .third__form--contact {
    max-width: 380px;
    background-image: url("../media/cont/form-cont.jpg");
    min-height: 461px; }
    @media (min-width: 768px) {
      .third__form--contact {
        max-width: 400px; } }

.third__scratch {
  width: 100%; }
  @media (min-width: 768px) {
    .third__scratch {
      width: 95%; } }

.third__subject {
  width: 100%;
  padding: .8em;
  border-radius: .6em .6em 0 0;
  background: linear-gradient(355deg, rgba(204, 37, 186, 0.55) 0%, rgba(117, 70, 203, 0.55) 75%, rgba(204, 37, 186, 0.55) 100%);
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 768px) {
    .third__subject {
      max-width: 542px;
      height: 100%;
      display: grid;
      justify-content: flex-start;
      align-items: stretch;
      grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
      grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3] 1fr [y4] 1fr; } }
  @media (min-width: 768px) {
    .third__subject--contact {
      max-width: 400px;
      height: 100%;
      display: flex; } }

.third__lead {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: 'Quicksand',  sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
  color: #FDFFFC; }
  @media (min-width: 768px) {
    .third__lead {
      font-size: 2.2em; } }
  @media (min-width: 1024px) {
    .third__lead {
      font-size: 3em; } }
  @media (min-width: 768px) {
    .third__lead {
      grid-column: x0 / x4;
      grid-row: y0 / y1; } }

.third__profile {
  min-height: 200px; }
  @media (min-width: 768px) {
    .third__profile {
      grid-column: x0 / x2;
      grid-row: y1 / y2; } }

.third__additional {
  min-height: 200px; }
  @media (min-width: 768px) {
    .third__additional {
      min-height: none;
      grid-column: x2 / x4;
      grid-row: y1 / y2; } }

@media (min-width: 768px) {
  .third__selective {
    grid-column: x0 / x2;
    grid-row: y3 / y4; } }

@media (min-width: 768px) {
  .third__admission {
    grid-column: x0 / x2;
    grid-row: y2 / y3; } }

.third__turn {
  min-height: 200px; }
  @media (min-width: 768px) {
    .third__turn {
      grid-column: x2 / x4;
      grid-row: y3 / y4; } }

@media (min-width: 768px) {
  .third__commentary {
    grid-column: x0 / x2;
    grid-row: y3 / y4; } }

.third__phone, .third__mail, .third__pet, .third__name {
  display: flex;
  flex-flow: column;
  justify-content: space-between; }

.third__days, .third__additional, .third__turn {
  display: flex;
  flex-flow: column; }

.third__selective, .third__admission {
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 1024px) {
    .third__selective, .third__admission {
      width: 240px; } }

.third__consultation {
  display: flex;
  justify-content: center;
  align-items: center; }

.third__options, .third__entry, .third__textarea {
  width: 20vw;
  margin: 15px;
  border-radius: .6em;
  border: none;
  background: linear-gradient(180deg, #ededed 0%, rgba(255, 255, 255, 0.795956) 50%, #ededed 100%);
  color: #020100;
  font-size: .7em;
  font-family: 'Quicksand',  sans-serif;
  font-weight: bolder;
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media (min-width: 768px) {
    .third__options, .third__entry, .third__textarea {
      max-width: 240px; } }

.third__textarea {
  text-align: center;
  width: 100%;
  margin-left: 0%; }
  @media (min-width: 768px) {
    .third__textarea {
      width: 240px; } }

.third__input {
  margin: 15px;
  text-align: center;
  border: none;
  border-radius: 5px; }
  .third__input::placeholder {
    background: linear-gradient(180deg, #ededed 0%, rgba(255, 255, 255, 0.795956) 50%, #ededed 100%);
    color: #020100;
    font-size: .7em;
    padding: .6em;
    font-family: 'Quicksand',  sans-serif;
    font-weight: bolder; }

.third__par, .third__subtitle {
  padding-bottom: 5px;
  padding-left: 5px;
  padding-left: 3px;
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC;
  font-weight: bolder;
  font-size: .8em;
  display: inline; }
  @media (min-width: 768px) {
    .third__par, .third__subtitle {
      font-size: 1.2em; } }
  @media (min-width: 1024px) {
    .third__par, .third__subtitle {
      font-size: 1.6em; } }
  @media (min-width: 768px) {
    .third__par, .third__subtitle {
      font-size: 1em; } }
  @media (min-width: 1024px) {
    .third__par, .third__subtitle {
      font-size: 1em; } }

.third__subtitle {
  text-align: center;
  padding-bottom: 15px;
  padding-left: 10px; }

.btn--form, .btn--contact {
  margin: 0%;
  width: 90vw;
  padding: .6em;
  background: #4635b9;
  border: solid 5px #e4e4e4;
  border-radius: 0em 0em .6em .6em;
  font-size: 1.5em;
  opacity: .9; }
  @media (min-width: 768px) {
    .btn--form, .btn--contact {
      max-width: 542px;
      font-size: 1em; } }

.btn--contact {
  max-width: 375px; }
  @media (min-width: 768px) {
    .btn--contact {
      max-width: 400px; } }

/*CONTACTO- EL DROPDOWN DE FAQ*/
.faq {
  width: 90vw;
  margin: 5vw;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  text-align: center; }
  .faq__framing {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    border: solid 5px #873cffa1;
    border-radius: 0% 0% 70% 0%;
    background: linear-gradient(56deg, rgba(145, 2, 158, 0.7) 0%, rgba(255, 0, 119, 0.7) 50%, rgba(71, 0, 186, 0.7) 100%);
    animation: floating 5s alternate infinite; }
    @media (min-width: 768px) {
      .faq__framing {
        height: 120vh; } }
    @media (min-width: 768px) {
      .faq__framing {
        height: 140vh; } }
  .faq__cover {
    width: 90vw; }
  .faq__caption {
    margin-top: 50px;
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: none 2px -2px 2px;
    color: #FDFFFC;
    background: linear-gradient(56deg, rgba(212, 0, 232, 0.5) 0%, rgba(255, 0, 119, 0.5) 50%, rgba(71, 0, 186, 0.5) 100%);
    border: solid 5px #873cff9a;
    animation: floating 5s alternate infinite;
    font-weight: bolder;
    text-align: center;
    padding: 2em; }
    @media (min-width: 768px) {
      .faq__caption {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .faq__caption {
        font-size: 3em; } }
  .faq__tale {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: none -2px 2px 2px;
    color: #FDFFFC;
    padding: 1em; }
    @media (min-width: 768px) {
      .faq__tale {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .faq__tale {
        font-size: 1.6em; } }
  .faq__accordion {
    margin: 15px;
    width: 90vw;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.899597) 0%, rgba(236, 236, 236, 0.950018) 100%);
    border: solid 2px #FFF;
    border-radius: .6em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch; }
  .faq__lead {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(0, 0, 0, 0.809);
    color: #020100;
    padding: 1em;
    font-weight: bolder;
    text-align: center; }
    @media (min-width: 768px) {
      .faq__lead {
        font-size: 1.3em; } }
    @media (min-width: 1024px) {
      .faq__lead {
        font-size: 1.8em; } }
  .faq__answer {
    padding: 1em; }
  .faq__inputs {
    display: none; }
    .faq__inputs:checked ~ .faq__par {
      height: auto;
      margin: 1em 0em;
      color: #020100; }
    .faq__inputs:checked ~ .faq__label {
      transition: 1s ease-in-out;
      box-shadow: 0px 20px 5px rgba(128, 128, 128, 0.748); }
  .faq__label {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: none -2px 2px 2px;
    color: #020100;
    display: block;
    padding: .2em;
    background: rgba(170, 170, 170, 0.672);
    box-shadow: 0px 5px 5px rgba(128, 128, 128, 0.748);
    border: solid 2px #e4e4e4;
    border-radius: .6em;
    text-align: center;
    cursor: pointer;
    transition: 1s ease-in-out; }
    @media (min-width: 768px) {
      .faq__label {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .faq__label {
        font-size: 1.6em; } }
  .faq__par {
    height: 0;
    overflow: hidden;
    font-family: 'Comfortaa',  sans-serif;
    font-size: .8em;
    font-weight: normal;
    font-style: normal;
    text-shadow: none -2px 2px 2px;
    color: rgba(236, 236, 236, 0);
    font-weight: lighter;
    transition: 1s ease-in-out; }
    @media (min-width: 768px) {
      .faq__par {
        font-size: 1.1em; } }
    @media (min-width: 1024px) {
      .faq__par {
        font-size: 1.5em; } }

.hero__whapp {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 15px;
  right: 30px;
  text-decoration: none;
  border: solid 6px white;
  color: #FDFFFC;
  font-size: 2.5em;
  background: #01E776;
  border-radius: 100px 100px 100px 0px;
  text-align: center;
  z-index: 5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.quarter__board {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 15px;
  left: 30px;
  background: #4635b9;
  border-radius: 50% 50% 50% 5%;
  border: solid 5px #e4e4e4;
  font-family: 'Quicksand', sans-serif;
  color: #FDFFFC;
  font-size: 1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }

.quarter__expanded {
  z-index: -1;
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 15px;
  left: 30px;
  background: #4635b9;
  border-radius: 50% 50% 50% 5%;
  border: solid 5px #e4e4e4;
  transition: 1s linear; }

.quarter__input {
  display: none; }
  .quarter__input:checked ~ .quarter__inventory {
    visibility: visible;
    opacity: 1;
    z-index: 8;
    transition: 4s ease-in-out; }
  .quarter__input:checked ~ .quarter__expanded {
    border-radius: 5% 5% 5% 5%;
    width: 85px;
    height: 425px; }

.quarter__knob {
  font-family: 'Quicksand', sans-serif;
  color: #FDFFFC;
  font-size: 1em;
  cursor: pointer; }

.quarter__lines {
  cursor: pointer; }

.quarter__inventory {
  display: flex;
  flex-flow: column-reverse;
  list-style: none;
  visibility: hidden;
  opacity: 0; }

.quarter__segment {
  position: absolute;
  font-family: 'Quicksand', sans-serif;
  color: #FDFFFC;
  font-size: .8em;
  font-weight: bolder;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 8; }
  .quarter__segment--all {
    left: 10px;
    right: 0;
    bottom: 375px; }
  .quarter__segment--pots {
    left: 10px;
    right: 0;
    bottom: 325px; }
  .quarter__segment--food {
    left: 10px;
    right: 0;
    bottom: 275px; }
  .quarter__segment--clothe {
    left: 10px;
    right: 0;
    bottom: 225px; }
  .quarter__segment--belt {
    left: 10px;
    right: 0;
    bottom: 175px; }
  .quarter__segment--pretals {
    left: 10px;
    right: 0;
    bottom: 125px; }
  .quarter__segment--toys {
    left: 10px;
    right: 0;
    bottom: 75px; }

.quarter__funnel {
  display: none; }

.quarter [value="pots"]:checked ~ .quarter__catalog .quarter__prod:not([data-category~="pots"]),
.quarter [value="food"]:checked ~ .quarter__catalog .quarter__prod:not([data-category~="food"]),
.quarter [value="clothe"]:checked ~ .quarter__catalog .quarter__prod:not([data-category~="clothe"]),
.quarter [value="belt"]:checked ~ .quarter__catalog .quarter__prod:not([data-category~="belt"]),
.quarter [value="pretals"]:checked ~ .quarter__catalog .quarter__prod:not([data-category~="pretals"]),
.quarter [value="toys"]:checked ~ .quarter__catalog .quarter__prod:not([data-category~="toys"]) {
  display: none; }

.quarter__catalog {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  margin: 0; }

.quarter__prod {
  margin: 10px;
  box-shadow: rgba(128, 128, 128, 0.748);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .quarter__prod {
      margin: 30px; } }

.quarter__pic {
  border-radius: .6em .6em 0em 0em;
  border-top: solid 5px #e4e4e4;
  border-left: solid 5px #e4e4e4;
  border-right: solid 5px #e4e4e4;
  width: 140px;
  height: 140px; }
  @media (min-width: 768px) {
    .quarter__pic {
      width: 324px;
      height: 324px; } }
  @media (min-width: 1024px) {
    .quarter__pic {
      width: 442px;
      height: 442px; } }

.quarter__brand {
  padding: 1em;
  width: 140px;
  height: 120px;
  background: linear-gradient(180deg, rgba(146, 3, 75, 0.7) 0%, rgba(109, 2, 73, 0.9) 100%);
  border-top: 5px solid #e4e4e4;
  border-left: 5px solid #e4e4e4;
  border-right: 5px solid #e4e4e4;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; }
  @media (min-width: 768px) {
    .quarter__brand {
      width: 324px; } }
  @media (min-width: 1024px) {
    .quarter__brand {
      width: 442px; } }

.quarter__price {
  height: fit-content;
  text-align: center;
  width: 140px;
  padding: 1em;
  background: linear-gradient(0deg, rgba(146, 3, 75, 0.7) 0%, rgba(109, 2, 73, 0.9) 100%);
  border-left: 5px solid #e4e4e4;
  border-right: 5px solid #e4e4e4;
  border-bottom: 5px solid #e4e4e4;
  border-radius: 0em 0em 0.6em 0.6em; }
  @media (min-width: 768px) {
    .quarter__price {
      width: 324px; } }
  @media (min-width: 1024px) {
    .quarter__price {
      width: 442px; } }

.quarter__item {
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748);
  color: #FDFFFC;
  font-weight: bolder; }
  @media (min-width: 768px) {
    .quarter__item {
      font-size: 1.3em; } }
  @media (min-width: 1024px) {
    .quarter__item {
      font-size: 1.8em; } }

.quarter__code {
  font-family: 'Quicksand',  sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC;
  font-weight: bolder; }
  @media (min-width: 768px) {
    .quarter__code {
      font-size: 1.2em; } }
  @media (min-width: 1024px) {
    .quarter__code {
      font-size: 1.6em; } }

.quarter__amount {
  font-family: 'Comfortaa',  sans-serif;
  font-size: .8em;
  font-weight: normal;
  font-style: normal;
  text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
  color: #FDFFFC;
  font-weight: bolder; }
  @media (min-width: 768px) {
    .quarter__amount {
      font-size: 1.1em; } }
  @media (min-width: 1024px) {
    .quarter__amount {
      font-size: 1.5em; } }

.e404 {
  height: 100vh;
  width: 100vw;
  padding: 1em;
  left: 0%;
  right: 0%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; }
  .e404__caption {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) 2px -2px 2px;
    color: #020100;
    padding-bottom: 1em; }
    @media (min-width: 768px) {
      .e404__caption {
        font-size: 2.2em; } }
    @media (min-width: 1024px) {
      .e404__caption {
        font-size: 3em; } }
    @media (min-width: 768px) {
      .e404__caption {
        font-size: 4em; } }
  .e404__tale {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748) -2px 2px 2px;
    color: #020100;
    padding-bottom: 1em; }
    @media (min-width: 768px) {
      .e404__tale {
        font-size: 1.2em; } }
    @media (min-width: 1024px) {
      .e404__tale {
        font-size: 1.6em; } }
  .e404__return {
    font-family: 'Quicksand',  sans-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-shadow: rgba(128, 128, 128, 0.748);
    color: #020100;
    padding-bottom: 1em; }
    @media (min-width: 768px) {
      .e404__return {
        font-size: 1.3em; } }
    @media (min-width: 1024px) {
      .e404__return {
        font-size: 1.8em; } }
  .e404__havefive {
    position: absolute;
    text-decoration: none;
    font-size: 1.2em;
    cursor: grabbing;
    color: #020100; }
    .e404__havefive:hover {
      transition: 1s;
      font-size: 1.8em;
      animation: slap 2s alternate infinite; }
