////colores/////////////////

$clr-body-bkg:#fff7d8d5;

$clr-header-bkg:#d1d1d1;
$clr-logo-text:#363637;
$clr-logo-icono:#C8A225;
$clr-menu-ul:#d1d1d1;
$clr-menu-a: #363637;
$clr-menu-li-hover:#FF2F6D;
$clr-menu-a-hover:#ffffff;


$clr-footer-bkg:#d1d1d1;
$clr-footer-titles:#363637;
$clr-footer-texts:#7f03d8;
$clr-footer-underlined:#FF2F6D;
$clr-footer-icon-social:#7d24bd;
$clr-footer-hover:#C8A225;


$clr-btn-ltr:#ffffffef;
$clr-btn-ltr-shw:#5c049b;
$clr-btn-placeholder:#7919bd;
$clr-btn-bdr:#fffdfd;
$clr-btn-bdr-shw:#7919bd;
$clr-btn-bkg:#7919bd;
$clr-btn-bkghover:#C8A225;


$clr-hero-ltr:#ffffff;
$clr-hero-shw:#5c049b;
$clr-secondary-ltr:rgb(61, 61, 61);
$clr-pic-bdr:#f5f5f5;
$clr-shadow:#494949;
$clr-productos-ltr:rgb(61, 61, 61);
$clr-opacity-ltr:#ffffff;
$clr-opacity:rgba(0, 0, 0, 0.500);


$clr-mirror-bdr-barber:linear-gradient(to left, rgb(182, 152, 18), #ffc400);
$clr-mirror-bdr-kinder: linear-gradient(to left, rgb(95, 18, 182), #ff0381);

//////////////////////////////////////////////////////////////////////////










