
@keyframes floating {
    from {border-radius: 200px 5px 200px 5px; box-shadow: 15px 10px #a973ff}
    to {border-radius: 5px 200px 5px 200px; box-shadow: -15px -10px #a973ff}
    }

    @keyframes bkgmovelr {
        0%{background-position: left;}
        50%{background-position: right;}
        100%{background-position: left;}
      }
      @keyframes bkgopacity {
      0%{opacity: 1;}
      50%{opacity: .8;}
      100%{opacity: 1;}
      }

      @keyframes carousel{
        0%{margin-left:0px;}
        6%{margin-left:0px;}
    
        13%{margin-left:-400px;}
        19%{margin-left:-400px;}
    
        26%{margin-left:-800px;}
        32%{margin-left:-800px;}
    
        39%{margin-left:-1200px;}
        45%{margin-left:-1200px;}
    
        52%{margin-left:-1600px;}
        58%{margin-left:-1600px;}
    
        65%{margin-left:-2000px;}
        73%{margin-left:-2000px;}
    
        80%{margin-left:-2400px;}
        87%{margin-left:-2400px;}
    
        96%{margin-left:-2800px;}
        100%{margin-left:-2800px;}
        }
        @include breakpoint (tablet){
        @keyframes carousel{
            0%{margin-left:300px;}
            6%{margin-left:300px;}
        
            13%{margin-left: 58px;}
            19%{margin-left: 58px;}
        
            26%{margin-left:-184px;}
            32%{margin-left:-184px;}
        
            39%{margin-left:-426px;}
            45%{margin-left:-426px;}
        
            52%{margin-left:-668px;}
            58%{margin-left:-668px;}
        
            65%{margin-left:-910px;}
            73%{margin-left:-910px;}
        
            80%{margin-left:-1152px;}
            87%{margin-left:-1152px;}
        
            96%{margin-left:-1394px;}
            100%{margin-left:-1394px;}
            }
        }