@mixin title ($color, $style, $weight){
    font-family: 'quicksand', sans-serif;
    font-size: 1.6em ;
    font-weight: $weight;
    font-style: $style;
    text-shadow: rgba(86, 1, 136, 0.740) -2px 2px 2px ;
    color: $color;
      @include breakpoint (tablet){
       font-size: 2.1em;
      }
      @include breakpoint (notebook){
        font-size: 3.3em;
      }
}
@mixin subtitle (){
  font-family: 'quicksand', sans-serif;
  font-size: 1em ;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(86, 1, 136, 0.740) -2px 2px 2px ;
  color: white;
    @include breakpoint (tablet){
     font-size: 1.3em;
    }
    @include breakpoint (notebook){
      font-size: 1.8em;
    }
}

@mixin lead (){
  font-family: 'raleway', sans-serif;
  font-size: 1em ;
  font-weight: bolder;
  font-style: normal;
  text-shadow: rgba(86, 1, 136, 0.740) -2px 2px 2px ;
  color: white;
    @include breakpoint (tablet){
     font-size: 1.2em;
    }
    @include breakpoint (notebook){
      font-size: 1.7em;
    }

}

@mixin par ($color, $style, $weight){
  font-family: 'raleway', sans-serif;
  font-size: .8em ;
  font-weight: $weight;
  font-style: $style;
  text-shadow: rgba(86, 1, 136, 0.740) -2px 2px 2px ;
  color: $color;
    @include breakpoint (tablet){
     font-size: 1.1em;

    }
    @include breakpoint (notebook){
      font-size: 1.6em;
    }
}

