
$size-title-sml: 1.6em;
$size-title-mdl: 2.1em;
$size-title-big: 3.3em;

$size-subtitle-sml: 1em;
$size-subtitle-mdl: 1.3em;
$size-subtitle-big: 1.8em;

$size-subtitle-sml: 1em;
$size-subtitle-mdl: 1.3em;
$size-subtitle-big: 1.8em;

$size-pretitle-sml: 1em;
$size-pretitle-mdl: 1.2em;
$size-pretitle-big: 1.7em;

$size-par-sml: .8em;
$size-par-mdl: 1.1em;
$size-par-big: 1.6em;

$size-img-secondary-sml: 17.5em;
$size-mrg-secondary-sml: 1.2em;

$size-img-secondary-mdl: 20.2em;
$size-mrg-secondary-sml: 2.5em;

$size-img-secondary-big: 27.6em;
$size-mrg-secondary-sml: 5em;


$size-bdr-radius: .6em;
$size-btn-mrg: .6em;
$size-btn-padding: .5em .8em;
$size-btn-bdr: .5em .8em;

$size-header-font: 1.5em;
